.our-creations {
  margin-bottom: 5.9375rem;
  // height: 86.1875rem;
  position: relative;

  @media (min-width: 62em) {
    margin-bottom: 11.125rem;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
    gap: 1.5625rem;

    @media (min-width: 62em) {
      grid-template-columns: repeat(auto-fit, minmax(236px, 1fr));
      grid-gap: 1.75em;
    }
  }

  &__img {
    position: relative;
    height: auto;

    & figure {
      // background-color: $veryDarkGray;

      & > img {
        width: 100%;
        // mix-blend-mode: darken;
      }

      & > .mobile-img {
        @media (min-width: 62em) {
          display: none;
        }
      }

      & > .desktop-img {
        @media (min-width: 20em) {
          display: none;
        }

        @media (min-width: 62em) {
          display: block;
        }
      }

      & figcaption {
        text-transform: uppercase;
        position: absolute;
        top: 41%;
        left: 1.3125rem;
        color: $white;

        @media (min-width: 62em) {
          top: 22.1875rem;
        }

        & h3 {
          font-size: 1.125rem;
          text-align: left;
          width: 52%;
        }
      }
    }
  }

  & h2 {
    margin-bottom: 3.375rem;

    @media (min-width: 62em) {
      font-size: 2.5625rem;
      text-align: left;
    }
  }

  &__cta {
    margin: 2.125rem auto 0;

    @media (min-width: 62em) {
      position: absolute;
      margin: 0;
      top: 0;
      right: 0;
    }

    & button {
      width: 9.8125rem;
      height: 2.4375rem;
      outline: none;
      background: none;
      border: 1px solid $black;
      font-size: 0.8125rem;
      font-family: $text;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.375rem;
      cursor: pointer;
      transition: 0.3s ease-in-out;

      &:hover {
        background-color: $black;
        color: $white;
      }
    }
  }
}
