.virtual-reality {
  width: 100%;
  margin-bottom: 6.1875rem;
  //   height: 38.9375rem;
  position: relative;

  @media (min-width: 62em) {
    display: grid;
    grid-template-columns: 480px 1fr;
    margin-bottom: 11.25rem;
  }

  @media (min-width: 75em) {
    display: grid;
    grid-template-columns: 726px 1fr;
    margin-bottom: 11.25rem;
  }

  &__img {
    // height: auto;
    margin-bottom: 3rem;

    @media (min-width: 62em) {
    }

    & img {
      width: 100%;
      height: auto;

      &.mobile-img {
        @media (min-width: 48em) {
          display: none;
        }
      }

      &.desktop-img {
        display: none;

        @media (min-width: 62em) {
          display: block;
          // max-width: 726px;
          height: 501px;
        }
      }
    }
  }

  &__content {
    @media (min-width: 62em) {
      background-color: $white;
      width: 35.313rem;
      height: 21.5rem;
      position: absolute;
      top: 12.5rem;
      right: -7rem;
      text-align: left;
      padding: 4rem 0 0 4rem;
    }

    @media (min-width: 75em) {
      background-color: $white;
      width: 38.3125rem;
      height: 25.5rem;
      position: absolute;
      top: 11.5rem;
      right: -10rem;
      text-align: left;
      padding: 6rem 0 0 6rem;
    }

    & h2 {
      font-size: 1.5625rem;
      margin-bottom: 1.75rem;

      @media (min-width: 62em) {
        width: 24.25rem;
        font-size: 2.1875rem;
        letter-spacing: 0.25rem;
        margin-bottom: 2.1875rem;
      }
      @media (min-width: 75em) {
        margin-bottom: 2.6875rem;
      }
    }

    & p {
      font-family: $text;
      font-weight: 400;
      color: $darkGray;

      @media (min-width: 48em), (orientation: landscape) {
        width: 80%;
        margin: auto;
      }

      @media (min-width: 62em) {
        margin: 0;
        width: 78%;
        line-height: 1.5;
      }

      @media (min-width: 75em) {
        width: 87%;
        line-height: 1.75;
      }
    }
  }
}
